/* img {
    float: left;
    width: 200px;
    height: 200px;

}
p {
    /* margin-left: 200px; */
/* }
.heading {
    clear: left;
} */

/* .box {
    width: 200px;
    height: 100px;
    /* overflow: hidden; */
    /* overflow: auto; */
    /* overflow: visible; */
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
/* } */ 
/* 
.wrapper {
    position: relative;
}
.main-element { */
    /* position: static; */
    /* top: 50%;
    /* bottom: 0; */
    /* right: 0; */
    /* left: 50%; */
    /* z-index: 0; */

    /* position: relative; */
    /* position: absolute;
    transform: translate(-50%, -50%); */
    /* background-color: aquamarine;
 /* position: fixed;
 bottom: 10px;
 left: 10px; */
 /* position: sticky; */
/* } */

/* .text-wrap {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.main {
    position: relative;
}
.modal-window {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;

}
